@import url("https://fonts.googleapis.com/css?family=Quicksand|Sigmar+One&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background-color: #111018;
  font-size: 1vw;
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(23, 28, 34, 0.8);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.app_container {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chess {
  position: relative;
  max-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.opponent,
.player {
  position: relative;
  width: 100%;
  height: calc((100% - 800px) / 2);
  display: flex;
  align-items: center;
  flex-direction: row;
}

.info,
.stats {
  position: relative;
  width: calc((100% - 800px) / 2);
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
